@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.hmrcfrontend.views.html.components.HmrcNewTabLink
@import uk.gov.hmrc.hmrcfrontend.views.viewmodels.newtablinkhelper.NewTabLinkHelper
@import uk.gov.hmrc.hmrcfrontend.views.viewmodels.newtablink.NewTabLink

@this(hmrcNewTabLink: HmrcNewTabLink)

@(newTabLinkHelper: NewTabLinkHelper)(implicit messages: Messages)
@hmrcNewTabLink(NewTabLink(
 text = newTabLinkHelper.text,
 href = newTabLinkHelper.href,
 language = Some(messages.lang.language),
 classList = newTabLinkHelper.classList
))