@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.hmrcfrontend.views.html.helpers.HmrcTrackingConsentSnippet
@import uk.gov.hmrc.hmrcfrontend.config.AssetsConfig

@this(hmrcTrackingConsentSnippet: HmrcTrackingConsentSnippet, assetsConfig: AssetsConfig)

@(headBlock: Option[Html] = None, nonce: Option[String] = None)(implicit request: RequestHeader, messages: Messages)
@hmrcTrackingConsentSnippet(nonce)
<!--[if lte IE 8]>
<script src="@assetsConfig.html5ShivJsUrl"></script>
<link href="@assetsConfig.hmrcFrontendIe8CssUrl" media="all" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if gt IE 8]><!-->
<link href="@assetsConfig.hmrcFrontendCssUrl" media="all" rel="stylesheet" type="text/css"@nonce.map {n=> nonce="@n"} />
<!--<![endif]-->
@headBlock
