@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.hmrcfrontend.views.html.components.HmrcLanguageSelect
@import uk.gov.hmrc.hmrcfrontend.views.viewmodels.language.LanguageSelect
@import uk.gov.hmrc.hmrcfrontend.controllers.routes.LanguageController.switchToLanguage
@import uk.gov.hmrc.hmrcfrontend.config.LanguageConfig
@import uk.gov.hmrc.hmrcfrontend.views.Aliases.{Cy, En}

@this(hmrcLanguageSelect: HmrcLanguageSelect, languageConfig: LanguageConfig)

@()(implicit messages: Messages)
@import languageConfig._
@hmrcLanguageSelect(LanguageSelect(
  if (messages.lang.code == cy) Cy else En,
  (En, switchToLanguage(en).url),
  (Cy, switchToLanguage(cy).url)
))
