@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.hmrcfrontend.views.html.components.HmrcHeader
@import uk.gov.hmrc.hmrcfrontend.views.Aliases.{Cy, En, Header, UserResearchBanner}
@import uk.gov.hmrc.govukfrontend.views.Aliases.PhaseBanner

@this(hmrcHeader: HmrcHeader)

@(
  serviceName: Option[String] = None,
  serviceUrl: Option[String] = None,
  signOutUrl: Option[String] = None,
  userResearchBanner: Option[UserResearchBanner] = None,
  phaseBanner: Option[PhaseBanner] = None,
  displayHmrcBanner: Boolean = false,
  additionalBannersBlock: Option[Html] = None,
  containerClasses: String = Header.defaultObject.containerClasses
)(implicit messages: Messages, request: RequestHeader)
@defining("service.name") { serviceNameKey =>
  @defining(if(messages.isDefinedAt(serviceNameKey)) Some(messages(serviceNameKey)) else None) { serviceNameFromMessages =>
    @hmrcHeader(Header(
      homepageUrl = messages("header.govuk.url"),
      serviceName = serviceName.orElse(serviceNameFromMessages),
      serviceUrl = serviceUrl.getOrElse(""),
      signOutHref = signOutUrl,
      language = if(messages.lang.code == "cy") Cy else En,
      assetsPath = uk.gov.hmrc.hmrcfrontend.controllers.routes.Assets.at("govuk/images").url,
      userResearchBanner = userResearchBanner,
      phaseBanner = phaseBanner,
      displayHmrcBanner = displayHmrcBanner,
      additionalBannersBlock = additionalBannersBlock,
      containerClasses = containerClasses
    ))
  }
}
