@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.hmrcfrontend.views.html.components.HmrcFooter
@import uk.gov.hmrc.hmrcfrontend.views.viewmodels.footer.{Footer, FooterItem, Meta}
@import uk.gov.hmrc.hmrcfrontend.views.config.HmrcFooterItems
@import uk.gov.hmrc.hmrcfrontend.views.viewmodels.language.{Cy, En}

@this(hmrcFooter: HmrcFooter, hmrcFooterItems: HmrcFooterItems)

@(
  additionalFooterItems: Seq[FooterItem] = Seq.empty,
  accessibilityStatementUrl: Option[String] = None
)(implicit messages: Messages, request: RequestHeader)
@hmrcFooter(new Footer(
  meta = Some(Meta(items = Some(hmrcFooterItems.getWithAccessibilityStatementUrl(accessibilityStatementUrl = accessibilityStatementUrl) ++ additionalFooterItems))),
  language = if (messages.lang.code == "cy") Cy else En
))
