@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.hmrcfrontend.config.TrackingConsentConfig

@this(trackingConsentConfig: TrackingConsentConfig)

@(nonce: Option[String] = None)(implicit messages: Messages)
@nonceAttribute = { @nonce.map {n => nonce="@n"} }
@trackingConsentConfig.trackingUrl.map { url =>
  <!--[if !IE]>-->
  <script
    @nonceAttribute
    src="@url"
    id="tracking-consent-script-tag"
    data-gtm-container="@trackingConsentConfig.gtmContainer"
    data-language="@messages.lang.code"
  ></script>
  @trackingConsentConfig.optimizelyUrl.map { optimizelyUrl =>
    <script @nonceAttribute src='@optimizelyUrl'></script>
    <script @nonceAttribute src="@trackingConsentConfig.optimizelyGtmUrl"></script>
  }
  <!--<![endif]-->
}
