@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.hmrcfrontend.config.ContactFrontendConfig
@import uk.gov.hmrc.hmrcfrontend.views.Aliases.{Cy, En, ReportTechnicalIssue}
@import uk.gov.hmrc.hmrcfrontend.views.html.components.HmrcReportTechnicalIssue

@this(hmrcReportTechnicalIssue: HmrcReportTechnicalIssue, contactFrontendConfig: ContactFrontendConfig)

@()(implicit messages: Messages, request: RequestHeader)
@contactFrontendConfig.serviceId.map { serviceId =>
    @hmrcReportTechnicalIssue(ReportTechnicalIssue(
        serviceId = serviceId,
        language = if(messages.lang.code == "cy") Cy else En,
        referrerUrl = contactFrontendConfig.referrerUrl,
        baseUrl = contactFrontendConfig.baseUrl
    ))
}
