@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import views.html.helper.CSRF

@this()

@(action: play.api.mvc.Call,
  args: (Symbol,String)*
)(body: => Html)(implicit request: RequestHeader, messages: Messages)

@defining(args.toMap - Symbol("novalidate")) { filteredArgs =>
    <form method="@action.method" novalidate action="@action.path"@if(filteredArgs.nonEmpty){ @toHtmlArgs(filteredArgs)}>
        @if(play.filters.csrf.CSRF.getToken.isDefined) {
            @CSRF.formField
        }
        @body
    </form>
}
