@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@this()

@**
* Implements [[https://design-system.service.gov.uk/components/error-message/]]
*
* Note:
* The tests in the govuk-frontend component imply {@code visuallyHiddenText} is sometimes used as a boolean.
* [[https://github.com/alphagov/govuk-frontend/blob/v2.11.0/src/components/error-message/template.test.js#L82]]
* Here it uses the type [[VisuallyHiddenText]] to encode the text or intention to hide it.
* If no value is passed defaults to show "Error" as the visually hidden text.
*@
@(params: ErrorMessage)
@import params._
<p @id.map {id => id="@id"} class="@toClasses("govuk-error-message", classes)"@toAttributes(attributes)>
 @visuallyHiddenText match {
   case Some(NonEmptyString(text)) => {<span class="govuk-visually-hidden">@text:</span>}
   case Some(_) | None => {}
 }
 @content.asHtml
</p>
