@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@this()

@(params: SummaryList)
@import params._
<dl class="@toClasses("govuk-summary-list", classes)"@toAttributes(attributes)>
  @for(row <- rows) {
    <div class="@toClasses("govuk-summary-list__row", "govuk-summary-list__row--no-actions".when(anyRowHasActions && row.actions.isEmpty), row.classes)">
      <dt class="@toClasses("govuk-summary-list__key", row.key.classes)">
        @row.key.content.asHtml
      </dt>
      <dd class="@toClasses("govuk-summary-list__value", row.value.classes)">
        @row.value.content.asHtml
      </dd>
      @if(row.actions.exists(_.items.length > 0)) {
        <dd class="@toClasses("govuk-summary-list__actions", row.actions.map(_.classes).getOrElse(""))">
          @if(row.actions.exists(_.items.length == 1)) {
            @row.actions.map {actions => @actionLink(actions.items.head)}
          } else {
            <ul class="govuk-summary-list__actions-list">@row.actions.map {actions =>@for(action <- actions.items) {<li class="govuk-summary-list__actions-list-item">@actionLink(action)</li>}}</ul>
          }
        </dd>
      }
    </div>
  }
</dl>

@actionLink(action: ActionItem) = {<a class="@toClasses("govuk-link", action.classes)" href="@action.href"@toAttributes(action.attributes)>
  @actionContent(action)</a>}

@actionContent(action: ActionItem) = {@action.content.asHtml@action.visuallyHiddenText.mapNonEmpty { visuallyHiddenText =><span class="govuk-visually-hidden"> @visuallyHiddenText</span> }}

@anyRowHasActions = @{rows.exists(_.actions.fold(false)(_.items.nonEmpty))}
