@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@this()

@(params: Fieldset)
@import params._
<fieldset class="@toClasses("govuk-fieldset", classes)"@role.mapNonEmpty {role => role="@role"}@describedBySnippet@toAttributes(attributes)>
  @legend.map { legend =>
    @legend.content match {
      case (NonEmptyHtml(_) | NonEmptyText(_)) => {
        <legend class="@toClasses("govuk-fieldset__legend", legend.classes)">
          @if(legend.isPageHeading) {
            <h1 class="govuk-fieldset__heading">
              @legend.content.asHtml
            </h1>
          } else {@legend.content.asHtml}
        </legend>
      }
      case _ => {}
    }
  }
  @html
</fieldset>

@describedBySnippet = { @describedBy.mapNonEmpty {describedBy => aria-describedby="@describedBy"} }
