@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@this(govukErrorMessage: GovukErrorMessage, govukHint: GovukHint, govukLabel: GovukLabel)

@(params: FileUpload)
@import params._
@require(name.nonEmpty && id.nonEmpty, "name and id should not be empty")
<div class="@toClasses("govuk-form-group", errorMessage.fold("")(_ => "govuk-form-group--error"), formGroupClasses)">
  @govukLabel(Label(
    forAttr = Some(id),
    isPageHeading = label.isPageHeading,
    classes = label.classes,
    attributes = label.attributes,
    content = label.content
  ))
  @divSnippet
</div>

@* FIXME extract to common snippets package *@
@hintSnippet(describedBy: String) = @{
 hint.fold((describedBy, HtmlFormat.empty)) { hint =>
   val hintId = s"$id-hint"
   val describedBy1 = s"$describedBy $hintId".ltrim
   val hintHtml =
   govukHint(Hint(
     id = Some(hintId),
     classes = hint.classes,
     attributes = hint.attributes,
     content = hint.content
   ))
  (describedBy1, hintHtml)
 }
}

@* FIXME extract to common snippets package *@
@errorMessageSnippet(describedBy: String) = @{
  errorMessage.fold((describedBy, HtmlFormat.empty)) { errorMessage =>
    val errorId = s"$id-error"
    val describedBy1 = s"$describedBy $errorId".ltrim
    val errorMessageHtml =
     govukErrorMessage(ErrorMessage(
       id = Some(errorId),
       classes = errorMessage.classes,
       attributes = errorMessage.attributes,
       visuallyHiddenText = errorMessage.visuallyHiddenText,
       content = errorMessage.content
     ))
    (describedBy1, errorMessageHtml)
  }
}

@inputSnippet(describedBy: String) = {
  @defining {
    id="@id" name="@name" type="file"@value.mapNonEmpty { value => value="@value" }@if(describedBy.nonEmpty) { aria-describedby="@describedBy"}@toAttributes(attributes)
  } { attrs =>
      <input class="@toClasses("govuk-file-upload", classes, errorMessage.fold("")(_ => "govuk-file-upload--error"))" @attrs>
  }
}

@divSnippet = @{
  val (describedBy1, hintHtml) = hintSnippet(describedBy.getOrElse(""))
  val (describedBy2, errorMessageHtml) = errorMessageSnippet(describedBy1)
  val inputHtml = inputSnippet(describedBy2)
  HtmlFormat.fill(collection.immutable.Seq(hintHtml, errorMessageHtml, inputHtml))
}

