@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@this()

@(params: Button)
@import params._
@require(if (element.exists(_.toLowerCase == "input")) content.isInstanceOf[Text] else true) @* if element is input content has to be text *@
@defining(iconHtmlSnippet(classNames)) { case( classNames, iconHtml) =>
  @if(elem == "a") {
    <a href="@href.getNonEmptyOrElse{#}" role="button" draggable="false" @commonAttributes(classNames)>
      @content.asHtml
      @iconHtml.trim.indent(2, indentFirstLine = true)</a>
  } else {
    @if(elem == "button") {
      <button @value.mapNonEmpty {value => value="@value"}@inputType.mapNonEmpty {inputType => type="@inputType"}@buttonAttributes @commonAttributes(classNames)>
        @content.asHtml
        @iconHtml.trim.indent(2, indentFirstLine = true)</button>
    } else {
      @if(elem == "input") {
        <input value="@content.asInstanceOf[Text].asHtml" type="@inputTypeAttr.trim"@buttonAttributes @commonAttributes(classNames)>
      }
    }
  }
}

@elem = @{ element.foldNonEmpty(href.foldNonEmpty("button")(_ => "a"))(_.toLowerCase) }

@commonAttributes(classNames: String) = {class="@classNames" data-module="govuk-button"@toAttributes(attributes)}

@buttonAttributes = {
  @name.mapNonEmpty {name => name="@name"}@if(disabled) { disabled="disabled" aria-disabled="true"}@if(preventDoubleClick) { data-prevent-double-click="true"}
}

@classNames = @{ toClasses("govuk-button", classes, "govuk-button--disabled".when(disabled)) }

@iconHtmlSnippet(classNames: String) = @{
  if(isStartButton) {
    // The SVG needs `focusable="false"` so that Internet Explorer does not
    // treat it as an interactive element - without this it will be
    // 'focusable' when using the keyboard to navigate.
    (s"$classNames govuk-button--start", svgSnippet)
  } else {
    (classNames, HtmlFormat.empty)
  }
}

@svgSnippet = {
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
  </svg>
}

@inputTypeAttr = {
  @inputType.getNonEmptyOrElse {submit}
}

