@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@this()

@(params: Breadcrumbs)
@import params._
<div class="@toClasses("govuk-breadcrumbs", classes, if (collapseOnMobile) {"govuk-breadcrumbs--collapse-on-mobile"} else {""})"@toAttributes(attributes)>
 <ol class="govuk-breadcrumbs__list">
   @for(item <- items) {
     @item.href.foldNonEmpty {
       <li class="govuk-breadcrumbs__list-item" aria-current="page">@item.content.asHtml</li>
     } { href =>
         <li class="govuk-breadcrumbs__list-item">
           <a class="govuk-breadcrumbs__link" href="@href"@toAttributes(item.attributes)>@item.content.asHtml</a>
         </li>
       }
   }
 </ol>
</div>
