@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@this()

@(params: Tabs)
@import params._
<div@id.mapNonEmpty {id => id="@id"} class="@toClasses("govuk-tabs", classes)"@toAttributes(attributes) data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    @HtmlFormat.escape(title)
  </h2>

  @if(items.nonEmpty) {
    <ul class="govuk-tabs__list">
      @for((item, index) <- items.zip(Stream from 1)) {
        <li class="@toClasses("govuk-tabs__list-item", "govuk-tabs__list-item--selected".when(index == 1))">
          <a class="govuk-tabs__tab" href="#@itemId(item, index)"@toAttributes(item.attributes)>
            @HtmlFormat.escape(item.label)
          </a>
        </li>
      }
    </ul>


    @for((item, index) <- items.zip(Stream from 1)) {
      <div class="@toClasses("govuk-tabs__panel", "govuk-tabs__panel--hidden".when(index > 1))" id="@itemId(item, index)"@toAttributes(item.panel.attributes)>
        @item.panel.content match {
          case textContent: Text if textContent.nonEmpty => {<p class="govuk-body">@textContent.asHtml</p>}
          case otherContent => {@otherContent.asHtml}
        }
      </div>
    }
  }
</div>

@idPrefixStr = @{ idPrefix.getNonEmptyOrElse("") }

@itemId(item: TabItem, index: Int) = @{ item.id.getNonEmptyOrElse(s"$idPrefixStr-$index") }
