@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@this(govukTextarea: GovukTextarea,
      govukHint: GovukHint)

@(params: CharacterCount)
@import params._
@require(name.nonEmpty && id.nonEmpty, "name and id should be non-empty")
@require(maxLength.isDefined || maxWords.isDefined, "maxLength or maxWords should be provided")

@attrs = {
  @maxLength.filter(_ > 0).map {value => data-maxlength="@value"}
  @threshold.filter(_ > 0).map {value => data-threshold="@value"}
  @maxWords.filter(_ > 0).map {value => data-maxwords="@value"}
}

<div class="govuk-character-count" data-module="govuk-character-count"@attrs>
  @govukTextarea(Textarea(
    id = id,
    name = name,
    describedBy = Some(s"${id}-info"),
    rows = rows,
    value = value,
    label = label.copy(forAttr = Some(id)),
    hint = hint,
    errorMessage = errorMessage,
    formGroupClasses = formGroupClasses,
    classes = toClasses("govuk-js-character-count", errorMessage.fold("")(_ => " govuk-textarea--error"), if (classes.isEmpty) "" else s" ${classes}"),
    attributes = attributes,
    countMessageClasses = countMessageClasses
  ))
  @govukHint(Hint(id=Some(id+"-info"),
    classes = "govuk-character-count__message",
    content = Text("You can enter up to " + maxLength.filter(_ > 0).orElse(maxWords).getOrElse("undefined") + " " + maxWords.filter(_ > 0).fold("characters")(_ => "words"))
  ))
</div>
