@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@this()

@(params: Label)
@import params._
@content match {
  case NonEmptyHtml(_) | NonEmptyText(_) => {
    @defining {
      <label class="@toClasses("govuk-label", classes)"@toAttributes(attributes)@forAttr.mapNonEmpty {forAttr => for="@forAttr"}>
        @content.asHtml
      </label>
    } { labelHtml =>
        @if(isPageHeading) {
          <h1 class="govuk-label-wrapper">@labelHtml.trim.indent(2) </h1>
        } else {@labelHtml}
      }
  }
  case _ => {}
}

