@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@this(govukTag: GovukTag)

@(params: PhaseBanner)
@import params._
<div class="@toClasses("govuk-phase-banner", classes)"@toAttributes(attributes)>
  <p class="govuk-phase-banner__content">@tagSnippet(tag)
    <span class="govuk-phase-banner__text">
      @content.asHtml
    </span>
  </p>
</div>

@tagSnippet(tag: Option[Tag]) = {
  @tag.orElse(Some(Tag())).map { tag =>
    @govukTag(Tag(
      classes = toClasses("govuk-phase-banner__content__tag", tag.classes),
      content = tag.content))}
}


