@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@this()

@(params: TimeoutDialog)
@import params._
<meta name="hmrc-timeout-dialog"
content="hmrc-timeout-dialog"
data-language="@language"
data-timeout="@timeout"
data-countdown="@countdown"
data-keep-alive-url="@keepAliveUrl"
data-sign-out-url="@signOutUrl"
data-timeout-url="@timeoutUrl"
data-title="@title"
data-message="@message"
data-message-suffix="@messageSuffix"
data-keep-alive-button-text="@keepAliveButtonText"
data-sign-out-button-text="@signOutButtonText"
data-synchronise-tabs="@synchroniseTabs"
/>
