@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@this()

@(params: LanguageSelect)
@import params._

<nav class="hmrc-language-select"
     aria-label="@if(language.code == "cy"){Switcher iaith} else {Language switcher}"
>
  <ul class="hmrc-language-select__list">
    @languageToggle.linkMap.map {
      case (lang, link) => {
        @if(lang == language){
          <li class="hmrc-language-select__list-item">
            <span aria-current="true">@lang.name</span>
          </li>
        } else {
          <li class="hmrc-language-select__list-item">
            <a href="@link"
               hreflang="@lang.code"
               lang="@lang.code"
               rel="alternate"
               class="govuk-link"
               data-journey-click="link - click:lang-select:@lang.name"
            >
              <span class="govuk-visually-hidden">@if(lang.code == "cy"){Newid yr iaith ir Gymraeg} else {Change the language to English}</span>
              <span aria-hidden="true">@lang.name</span>
            </a>
          </li>
        }
      }
    }
  </ul>
</nav>
